.container{
    margin-bottom: 100px;
}
.carousel-item{
    background: #fceae8;
    padding: 40px 50px;
    border-radius: 10px;
}
.price{
    color: #ff136f;
}
.buynow-btn{
    background: #ff136f;
    color: white;
    padding: 9px 25px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
.card{
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.btn{
    background: #ff136f;
    color: white;
}
.subscribe-section{
    background: #fceae8;
    padding: 50px 100px;
    margin-top: 100px;
    border-radius: 10px;
}

.subscribe{
    margin-left: 150px;
}

.footer{
    text-align: center;
}